*{margin: 0; padding: 0;} 
html,body {
	height: 100%;
	width: 100%;
}
.top {
	height: 100%;
	width: 100%;
	background: url(images/bg-home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.top h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}
.top .menu {
	height: 40px;
	width: 350px;
	position: absolute;
	top: 5px;
	right:5px;
}
.top .menu ul {
	display: flex;
	list-style: none;	
}
.top .menu ul li {

}
.top .menu ul li a {

	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	transition: 0.4s;
}
.top .menu ul li a:hover {
	color: silver;
}
.nutmo {
	position: absolute;
	top: 10px;
	left: -50px;
	height: 50px;
	width: 50px;
	background:#0081CF;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
	transition: 0.4s;
	text-align: center;
}
.nutmo i,.nutdong i {
	font-size: 20px;
	color: white;
	padding-top: 15px;
	padding-bottom:15px;
}
.nutdong {
	position: absolute;
	top: 10px;
	left: -50px;
	height: 50px;
	width: 50px;
	background:#0081CF;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	opacity: 0;
	transition: 0.4s;
	text-align: center;
}
@keyframes rotate360 {
	100% { transform: rotate(360deg); }
}
.xoay {
	animation-name: rotate360;
	animation-duration: 2s;
}

@media only screen and (max-width:575px) {
	.top .menu {
		top:-40px;
	}
	.nutmo {
		left: 10px;
	}

}

